<% @billed_actor ||= @awarded_promotion.billed_actor %>

<p><b><%=AwardedPromotion.han('billed_actor_id')%>:</b><br/>
<%=@billed_actor.name%>
<%=hidden_field(:awarded_promotion, :billed_actor_id, :value => @billed_actor.id)%></p>

<p><b><%=AwardedPromotion.han('rule_definition_id')%>:</b><br/>
<%=select(:awarded_promotion, :rule_definition_id, options_for_rule_selection(AwardedPromotion), { :include_blank => true })%></p>

